body{
    margin: 0%;
    background-image: url("../img/1737698.jpg");
}
/*
p{

    color: red;
}
.titre{
    background-color: burlywood;
    text-emphasis-color: white ;
   padding: 30px;
   text-align: center;
   background-image: url("../img/rest.jpg");
   
}
.site{
    background-color: darkblue;
    padding: 30px;
}
.pre{
    background-color: lightcoral;
    color: #fff;
    font-size: 20px;
    line-height: 1.6;
    font-family:"Source Sans Pro" , sans-serif;
    background-image: url("../img/seafood-platter-solsiden-restaurant-xlarge.webp");
    background-attachment: scroll , fixed ;
   
    
}
#note{
    font-family :Georgia, serif;
font-size :3.0em;}
}
.pre img{
    width: 505px;
    height: 300px;
}
.pre nav {
    
   
    color: inherit;
    text-align: center;
    
    
}
.pre nav a{
    padding: 10px;
    text-decoration-line: none;
    font-weight: 600;
    background-color: mediumslateblue;
}
.pre p{
    color: black;
}
h1{
    color: white;
} */

